/* Here is the comment to meet the first requirement (yay) */

/* color */
h1 {
    color: rgba(0, 0, 255);
}

p {
    color: #2e2c2c;
}

h2 {
    color: hsla(243, 86%, 61%, 0.9);
}

button {
    background-color: green;
}

body {
    color: color(display-p3 1 0.5 0.5);
}

a {
    color: color-mix(in srgb, red 50%, blue 50%);
}

/* CSS Variables & Fallbacks */

:root {
    --main-bg: #f0f0f0;
}
  
section {
  background-color: var(--main-bg, white); /* fallback is white */
}

/* Background */

header {
    background-color: #ffb8b8;
}

/* Units */

h1 {
    font-size: 2rem;
    margin-bottom: 10px;
}

p {
  padding: 1em;
  width: 90%;
}

.box {
  height: 5cm;
  width: 2in;
}