/* Here is the comment to meet the first requirement (yay) */

/* color */
h1 {
    color: rgba(0, 0, 255);
}

p {
    color: #2e2c2c;
}

h2 {
    color: hsla(243, 86%, 61%, 0.9);
}

button {
    background-color: green;
}

body {
    color: color(display-p3 1 0.5 0.5);
}

a {
    color: color-mix(in srgb, red 50%, blue 50%);
}

/* CSS Variables & Fallbacks */

:root {
    --main-bg: #f0f0f0;
}
  
section {
  background-color: var(--main-bg, white); /* fallback is white */
}

/* Background */

header {
    background-color: #ffb8b8;
}

/* Units */

h1 {
    font-size: 2rem;
    margin-bottom: 10px;
}

p {
  padding: 1em;
  width: 90%;
}

.box {
  height: 5cm;
  width: 2in;
}

/* Box Model */

* {
  box-sizing: border-box;
}

/* Margin */
/* Longhand */
header {
  margin-top: 20px;
  margin-right: 40px;
  margin-bottom: 20px;
  margin-left: 40px;
}

/* Shorthand */
section {
  margin: 40px 20px 40px 20px;
}

/* Auto margin */
footer {
  width: 60%;
  margin: auto;
}

/* Padding */
/* Long hand */
header {
  padding-top: 10px;
  padding-right: 30px;
  padding-bottom: 10px;
  padding-left: 30px;
}

/* Shorthand */
section {
  padding: 25px 15px 25px 15px; /* top right bottom left */
}

/* Borders */
/* Long hand */
header {
  border-style: solid;
  border-color: #b90000;
  border-width: 3px;
  border-radius: 10px;
}

/* Shorthand */
section {
  border: 2px dashed #0104a3;
  border-radius: 8px;
}

/*Text*/

h1 {
  color: darkred;
  text-decoration: underline;
  text-align: center;
}

p {
  color: #333333;
  text-align: justify;
  text-decoration: none;
}

/*Display*/

img {
  display: block;
  margin: 10px auto;
}

span {
  display: inline;
}

/* Sizing */

img {
  width: 100%;
  max-width: 600px;
  height: auto;
}

video {
  min-width: 300px;
  height: 200px;
}

/* Positioning */

header {
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 100;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: lightgray;
}

/* Pseudo Classes*/

button:hover {
  background-color: #4CAF50;
  color: white;
}

button:active {
  transform: scale(0.98);
  background-color: #388E3C;
}

/* Flexbox */

form fieldset {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: 10px;
}

/* Grid */

section:nth-of-type(6) { /* Pictures section */
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  align-items: center;
}